<a href="/comments/{{id}}" class="card mb-3 border border-success border-3 text-decoration-none">
    <div class="card-header p-2 bg-success d-flex justify-content-between align-items-center rounded-0">
        <p class="mb-0 px-3 text-light">{{title}}</p>
        <p class="mb-0 px-3 text-light">Posted by User on date</p>
    </div>
    <div class="card-body text-dark">
        {{content}}
    </div>
</a>