<nav class="nav nav-pills p-1 pb-4 ps-5 bg-success">
    <li class="nav-item bg-light mx-2 p-1 rounded-3">
        <a class="nav-link text-dark fs-3 fw-bolder">The Tech Blog</a>
    </li>
</nav>

<nav class="nav nav-pills p-1 pb-4 ps-5 bg-success mb-3">
    <li class="nav-item bg-light mx-2 p-1 rounded-3">
        <a class="nav-link text-dark fs-3 fw-bolder">The Tech Blog</a>
    </li>
</nav>

<div class="container">
    <div class="card mb-3 border border-success border-3">
        <div class="card-header p-2 bg-success d-flex justify-content-between align-items-center rounded-0">
            <p class="mb-0 px-3 text-light">Title</p>
            <p class="mb-0 px-3 text-light">Posted by User on date</p>
        </div>
        <div class="card-body">
            Description
        </div>
    </div>
    <div class="card mb-3 border border-success border-3">
        <div class="card-header p-2 bg-success d-flex justify-content-between align-items-center rounded-0">
            <p class="mb-0 px-3 text-light">Title</p>
            <p class="mb-0 px-3 text-light">Posted by User on date</p>
        </div>
        <div class="card-body">
            Description
        </div>
    </div>
</div>