<nav class="nav nav-pills p-1 pb-4 ps-5 bg-success mb-3">
    <li class="nav-item bg-light mx-2 p-1 rounded-3">
        <a class="nav-link text-dark fs-3 fw-bolder">The Tech Blog</a>
    </li>
</nav>

<div class="container d-flex flex-column justify-content-center">
    {{> post-details}}

    {{#each comments as |comment|}}
    {{> comment-details}}
    {{/each}}

    <div class="card mb-3 border border-success border-3">
        <form class="p-3">
            <div class="mb-3">
                <label for="comment-box" class="form-label">Comment</label>
                <textarea class="form-control" id="comment-box" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <button type="button" class="btn btn-secondary p-2 px-3 mx-auto fs-4">+ Comment</button>
</div>

<script src="/js/comment.js"></script>