<nav class="nav nav-pills p-1 pb-4 ps-5 bg-success mb-3">
    <li class="nav-item bg-light mx-2 p-1 rounded-3">
        <a class="nav-link text-dark fs-3 fw-bolder">The Tech Blog</a>
    </li>
</nav>

<div class="container d-flex flex-column justify-content-center">
    <div class="card mb-3 border border-success border-3 p-3">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
        <a href="#">Sign Up</a>
    </div>
</div>